.Center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    }
img.Center{
    border-radius: 50%;
    box-shadow: 5px 5px 5px grey;
    }
body{
    background: transparent url('bradman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.Caption-Center-Color{
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(196, 205, 209);
    border: 1px solid rgb(31, 31, 32);
    width: 30%;
    text-align: center;
}
div.Center-Text-opacity{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    background: rgba(0,0,0,0.6);
    color: rgb(14, 197, 243);
    background-size: auto;
    opacity: 1;
}
p.Intro{
    margin: auto;
    background-color: rgb(236, 228, 228);
    border: 1px solid black;
    color:rgb(14, 13, 13);
    font-size: larger;
    width: 70%;
}
strong{
    color:rgb(236, 228, 228);
    margin: auto;
}
cite{
    color:rgb(32, 142, 233);
}
a:link{
    color:blue;
}
a:visited{
    color:tomato;
}
a:hover{
    color:yellow;
}
